<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All tasks</title>
</head>
<body>
  <h1>My tasks</h1>
  <ul>
    <% @tasks.each do |task| %>
      <li><%= task.title %></li>
    <% end %>
  </ul>
</body>
</html>
